#btnAddFolder {
    border-radius: 5px;
    background-color: azure;
    width: 200px;
    margin-left: 600px;
    padding: 20px;
    cursor: pointer;
}

#btnAddFolder:hover {
    transform: scale(1.02);
}

#divContainer {
    border: 1px solid black;
    display: flex;
    margin-top: 10px;
}

.folder {
    background-color: teal;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 10px;
}

.folder [action]{
    text-decoration: underline;
    cursor: pointer;
}

div[purpose=name]{
    margin-top: 50px;
    color: white;
}